/* body {
	background-color: indigo;
} */

.my-footer {

  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;

  /* color: white; */
  /* background-color: royalblue; */
  /* padding: 15px; */
  /* text-align: center; */
}

/* .my-wrapper {

  padding-top: 200px;
	min-width: 80vw;
  height: 84vh;
	background-color: white;
	margin: 0 auto;
} */
