* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar,
.navbar-brand {
  font-size: 24px;
}

.navbar-inverse {
  border-bottom: 10px solid crimson;
}

.btn,
.well {
  border-radius: 0;
}

#about {
  background-color: #1b1b1b;
}

.intro {
  background-image: url('../img/swars-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0;
}

#roster {
  background-color: dimgrey;
}

/*@media (min-width: 768px) {
}*/
