/*css reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grandparent {
  background-color: skyblue;
  position: fixed;
  /*bottom: 0;
  left: 0;*/
  width: 50%;
}

/*RELATIVE*/
.parent {
  background-color: pink;
  position: relative;
}

div {
  padding: 20px;
}

p {
  position: static;
  /*margin-left: 50px;*/
  /*margin-top: -20px;*/
}

/*attribute selector*/
input[name="firstname"] {
  margin-right: 20px;

  /*off-canvas - positioning elements not visible to the UI*/
  /*viewport - space that is visible to the UI*/
}

/*ABSOLUTE*/
strong {
  /*position: absolute;*/
  /*left: 50px;*/
  /*top: 10px;*/
  /*left: 10px;*/
  background-color: yellow;

}
